.h1 {
    color: blue;
    font-size: 29;
    text-align: center;
    

}

.highlight {
    background-color: yellow;
    color:black;
    padding: 5px;
    font-family: cursive;

    

}

.main-title {
    color:blue;
    font-size: 48px;
    text-align: center;
}



.bold {
    font-weight: bold;
}

.img {
    border: 5px solid #555;
}

.p {
    font-family: "Arial", 'Helvetica', sans-serif;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}




.background {
    background-color: lightblue;
       margin: 0px;
}


.navbar {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden  ;
}
.navbar .g{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar .g:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar .p{
    float: left;
}


.h3{
    font-size: 89;
    text-align: center;
}

.schedule{
    font-size: 36px;
    text-align: center;
}
.section-one{
    columns: row;}

@media screen and (max-width: 599px) {
    .container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 300px;
}
.schedule{
    padding-left: 400px;
}
.table {
    display: none;
}
.navbar{
    flex-direction: column;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.schedule{
    display: none;
}
.img{
    width: 200px !important;
    height: px;
    display: flex;
 
}
.highlight{
    text-align: center;
}
}